<configuration scan="true" scanPeriod="5 seconds">

  <appender class="ch.qos.logback.core.ConsoleAppender" name="STDOUT">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %highlight(%-5level) %boldYellow(%logger{36}) - %msg%n
      </pattern>
    </encoder>
    <withJansi>true</withJansi>
  </appender>

  <logger level="DEBUG" name="com.github.emotionbug.jdbc"/>
  <logger level="ERROR" name="org.apache.sshd"/>
  <logger level="OFF" name="net.schmizz.sshj.common.StreamCopier"/>
  <logger level="OFF" name="net.schmizz.sshj.transport.TransportImpl"/>
  <logger level="OFF" name="net.schmizz.concurrent.Promise"/>
  <logger level="OFF" name="net.schmizz.sshj.transport.verification.OpenSSHKnownHosts"/>

  <root level="ERROR">
    <appender-ref ref="STDOUT"/>
  </root>
</configuration>
